* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: hsl(180, 30%, 85%);
}

.userInput,
.container {
   display: flex;
   flex-flow: column wrap;
   margin: 1rem;
   padding: 1.5rem;
   gap: 1rem;
   text-align: center;
}

.container {
   background: radial-gradient(
            circle at 50% 120%,
            hsl(54, 100%, 50%),
            hsl(192, 100%, 58%)
         )
         padding-box,
      linear-gradient(hsl(46, 42%, 82%), hsl(208, 15%, 53%)) border-box;
   border: transparent 1px solid;
   border-radius: 2em;
}

#localInput,
.userInput button {
   font-size: 1rem;
}

#localInput {
   text-align: center;
}

.userInput button {
   background-color: hsl(147, 85%, 31%);
   border: none;
   border-radius: 0.75em;
   padding: 0.25em 1em;
   color: white;
   font-weight: bold;
   cursor: pointer;
   transition: box-shadow 100ms, transform 100ms;
}

.userInput button:hover {
   background-color: hsl(170, 89%, 18%);
   box-shadow: hsla(0, 0%, 0%, 0.35) 0px 1px 2px 3px;
   transform: translateY(-2px);
}

.userInput button:active {
   background-color: hsl(184, 93%, 12%);
   box-shadow: hsla(0, 0%, 0%, 0.15) 0px 1px 2px 3px inset;
   transform: translateY(2px);
}

#emoji {
   font-size: 3.5rem;
   /* text-shadow: 2px 2px white; */
}
